<div class="container">
  <div class="row">
    <div class="text-center m-auto">
      <h2>Your matches - {{ pagination.totalItems }} found</h2>
    </div>
  </div>

  <!-- HTML for filters -->

  <div class="row">
      <form class="form-inline text-center m-auto" #form="ngForm" (ngSubmit)="filterUsers()" novalidate>
        <div class="form-group m-1">
          <label for="minAge">Age From: </label>
          <input type="number" class="form-control" style="width: 70px" id="minAge" name="minAge"
            [(ngModel)]="userParams.minAge" />
        </div>

        <div class="form-group m-1">
          <label for="maxAge">Age To: </label>
          <input type="number" class="form-control" style="width: 70px" id="maxAge" name="maxAge"
            [(ngModel)]="userParams.maxAge" />
        </div>

        <div class="form-group m-1">
          <label for="gender">Show: </label>
          <select class="form-control" style="width: 130px" id="gender" name="gender" [(ngModel)]="userParams.gender">
            <option *ngFor="let gender of genderList" [value]="gender.value">
              {{gender.display}}
            </option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left:10px">
          Apply Filters
        </button>
        <button type="button" class="btn btn-dark" style="margin-left:10px" (click)="resetFilters()">
          Reset Filter
        </button>
      </form>
      <div class="btn-group m-auto">
        <label class="btn btn-primary" [(ngModel)]="userParams.orderBy" btnRadio="lastActive" tabindex="0"
          role="button" (click)="filterUsers()">Last Active</label>
        <label class="btn btn-primary" [(ngModel)]="userParams.orderBy" btnRadio="created" tabindex="0"
          role="button" (click)="filterUsers()">Newest Members</label>
      </div>
  </div>
  <br>
  <div class="row">
    <div *ngFor="let user of users" class="col-lg-3 col-md-4 col-sm-6 col-6">
      <app-member-card [user]="user"></app-member-card>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="text-center m-auto">
      <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
        (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
        lastText="&raquo;">
      </pagination>
    </div>
  </div>
</div>
